[run]
relative_files = True

[report]
include =
    src/*
omit =
    */test*
    /home/*/.buildout/eggs/*
    /home/travis/buildout-cache/eggs/*
    /home/travis/virtualenv/*
    /usr/*
    bin/test
    eggs/*
    parts/*
    src/collective/collectionfilter/testing.py
    src/collective/collectionfilter/tests/*
    */lib/*
    *.txt
    *.rst
