*.egg
*.egg-info
*.graffle
*.kate-swp
*.mo
*.py?
*.pyc
*~
._*
.idea
*.swp
.DS_Store
.coverage
.installed.cfg
.mr.developer.cfg
.Python
bin/
buildout-cache/
build/
collective/easyform/tests/*.tar.gz
develop-eggs/
dist
docs/Makefile
docs/doctrees
docs/html
docs/make.bat
extras/
htmlcov/
include/
/lib*
local/
parts/
pip-selfcheck.json
share/
var/
pyvenv.cfg
node_modules/
.env
.vscode/
.python-version
annotate.txt
.tox/
.coverage*
local.cfg
src-mrd

# robot test
robot_*
geckodriver*
test_*/
log.html
output.xml
report.html

# mxdev
/instance/
/.make-sentinels/
/*-mxdev.txt
/reports/
/sources/
/venv/
.installed.txt
