[buildout]
extensions = mr.developer
eggs +=
    collective.geolocationbehavior
sources = sources
versions = versions
sources-dir = extras
auto-checkout =
    plone.formwidget.geolocation
    collective.geolocationbehavior

[sources]
plone.formwidget.geolocation = git  ${remotes:collective}/plone.formwidget.geolocation.git pushurl=${remotes:collective_push}/plone.formwidget.geolocation.git branch=map-settings
collective.geolocationbehavior = git  ${remotes:collective}/collective.geolocationbehavior.git pushurl=${remotes:collective_push}/collective.geolocationbehavior.git

[versions]
plone.formwidget.geolocation =
collective.geolocationbehavior =
collective.collectionfilter =

[remotes]
# Collective
collective = https://github.com/collective
collective_push = git@github.com:collective
