[buildout]
develop = .
parts +=
    plone
    productdistros
    zope2
    instance
	roadrunner
eggs = 
    collective.portlet.collectionbysubject
    zope.testbrowser
    zope.testrecorder
    plone.reload
zcml = 
    zope.testrecorder
    plone.reload
    collective.portlet.collectionbysubject

[plone]
recipe = plone.recipe.plone

[productdistros]
recipe = plone.recipe.distros
urls =
    http://www.dieter.handshake.de/pyprojects/zope/ZopeProfiler.tgz
    http://plone.org/products/clouseau/releases/0.8.1/clouseau-0-8-1.zip
    http://www.zope.org/Members/shh/DocFinderTab/1.0.2/DocFinderTab-1.0.2.tar.gz
nested-packages =

[zope2]
recipe = plone.recipe.zope2install
url = ${plone:zope2-url}
fake-zope-eggs = true
skip-fake-eggs =
    zope.testing
    zope.component
    zope.i18n 

[instance]
recipe = plone.recipe.zope2instance
zope2-location = ${zope2:location}
debug-mode = on
verbose-security = on
zodb-cache-size = 8000
user = admin:admin
http-address = 8080
eggs =
    ${buildout:eggs}
    ${plone:eggs}
zcml =
    ${buildout:zcml}
products =
    ${productdistros:location}
    ${plone:products}
environment-vars = 
    PTS_LANGUAGES en

[roadrunner]
recipe = roadrunner:plone
packages-under-test = collective.portlet.collectionbysubject

