[buildout]

extends =
    https://raw.githubusercontent.com/collective/buildout.plonetest/master/test-6.0.x.cfg
    https://raw.githubusercontent.com/collective/buildout.plonetest/master/qa.cfg
    base.cfg

update-versions-file = test-6.0.x.cfg

[versions]
createcoverage = 1.5
watchdog = 2.1.6
# Added by buildout at 2022-04-11 15:03:32.429111
collective.geolocationbehavior = 1.7.2
plone.app.standardtiles = 2.4.2
plone.batching = 1.1.7
plone.formwidget.geolocation = 2.2.3
plone.patternslib = 1.2.1

# Added by buildout at 2022-04-11 15:10:06.779288
plone.recipe.codeanalysis = 3.0.1
