[buildout]
extends =
    https://raw.githubusercontent.com/collective/buildout.plonetest/master/test-5.0.x.cfg
    https://raw.githubusercontent.com/collective/buildout.plonetest/master/qa.cfg
#    https://raw.githubusercontent.com/plone/plone.app.mosaic/master/versions.cfg
    base.cfg

parts +=
    test
    code-analysis
    createcoverage

package-name = collective.collectionfilter
package-extras = [test]
test-eggs =

[code-analysis]
flake8-ignore = E501,E241

[versions]
setuptools =
zc.buildout =
pycodestyle =
configparser = 3.8.1
coverage = >=3.7

# Needed for mosaic. Might also try to pin an earlier version of mosaic if this doesn't work
plone.app.mosaic = 2.1.1
plone.app.blocks = 4.1.1
plone.app.drafts = 1.1.2
plone.app.standardtiles = 2.3.0
plone.app.tiles = 3.0.3
plone.tiles = 2.0.0
plone.jsonserializer = 0.9.6

plone.formwidget.geolocation = < 2.2.2 # Introduced a dep on CMFPlone 5.2
