[buildout]
extends =
    https://raw.githubusercontent.com/collective/buildout.plonetest/master/test-5.0.x.cfg
    https://raw.githubusercontent.com/collective/buildout.plonetest/master/qa.cfg
    base.cfg

parts +=
    test
    code-analysis
    createcoverage

package-name = collective.collectionfilter
package-extras = [test]
test-eggs =

[versions]
setuptools =
zc.buildout =
configparser = 3.8.1

# Needed for mosaic. Might also try to pin an earlier version of mosaic if this doesn't work
plone.app.mosaic = 2.1.1
plone.app.blocks = 4.1.1
plone.app.drafts = 1.1.2
plone.app.standardtiles = < 2.4.0
plone.app.tiles = 3.1.2
plone.tiles = 2.0.0
plone.jsonserializer = 0.9.6

plone.formwidget.geolocation = < 2.2.2 # Introduced a dep on CMFPlone 5.2

six = 1.16.0

plone.app.robotframework = 1.5.4
robotframework = 3.1.2
robotframework-python3 = 2.9
robotframework-debuglibrary = 1.2.1
robotframework-ride = 1.7.4.1
robotframework-seleniumlibrary = 3.3.1
robotframework-selenium2library = 3.0.0
robotframework-selenium2screenshots = 0.8.1
robotsuite = 2.2.1
selenium = 3.141.0
