.collectionFilter {
  background: white;
}
.collectionFilter .filterContent {
  padding: 1em;
}
.collectionFilter .filterContent > ul {
  padding: 0;
  list-style: none;
  position: relative;
}
.collectionFilter .filterContent > ul > li {
  list-style-type: none;
  padding: 2px;
}
.collectionFilter .filterContent > ul > li label {
  display: table;
}
.collectionFilter .filterContent > ul > li label .filterControl,
.collectionFilter .filterContent > ul > li label .filterLabel {
  display: table-cell;
  vertical-align: top;
}
.collectionFilter .filterContent > ul > li label input[type="radio"],
.collectionFilter .filterContent > ul > li label input[type="checkbox"] {
  margin: 0.3em 0.5em 0 0;
  line-height: normal;
}
.collectionFilter .filterContent > ul > li label .filterControl {
  margin-right: 0.5em;
}
.collectionFilter .filterContent > ul > li label .filterLabel {
  -webkit-hyphens: auto;
  -moz-hyphens: auto;
  hyphens: auto;
}
.collectionFilter .filterContent > ul > li > a {
  padding: 0 0 0 1em;
  display: block;
  border: 0;
  position: relative;
  z-index: 1;
}
.collectionFilter .filterContent > ul > li > a:before {
  left: 2px;
}
.collectionFilter .filterContent > ul li.selected a {
  font-weight: bold;
}
.collectionFilter .filterContent > ul ul {
  padding-left: 15px;
  list-style: none;
}
.collectionFilter .filterContent label {
  display: block;
  margin: 0;
}
.collectionFilter .filterContent select {
  padding: 0 0.5em;
}
